<div class="login-container">
  <mat-card class="login-card">
    <h2>Cadastro</h2>
    <form>
      <mat-form-field>
        <mat-label for="telefone">Telefone</mat-label>
        <input matInput type="text" id="telefone" placeholder="Digite seu telefone" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="telefone">Telefone</mat-label>
        <input matInput type="text" id="telefone" placeholder="Digite sua senha" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="senha">Senha</mat-label>
        <input matInput type="password" id="senha" placeholder="Confirme sua senha" required>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">Confirmar</button>
    </form>

  </mat-card>
</div>
