<mat-toolbar color="primary">
  Agendamentos
</mat-toolbar>

<!-- <mat-card>
  <app-calendar/>
</mat-card> -->

<div style="display: flex; flex-wrap: wrap; gap: 3px; padding-left: 2px;padding-top: 10px;">
  @for (schedule of schedules; track schedules) {
    <mat-card class="example-card">
      <mat-card-header>

      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-subtitle>{{schedule.time}}</mat-card-subtitle>
        <mat-card-title>{{schedule.title}}</mat-card-title>
        <p [innerHTML]="schedule.text">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Enviar ao contatos</button>
        <button mat-button>Editar</button>
        <button mat-button (click)="deleteCalendar(schedule)">Remover</button>
      </mat-card-actions>
    </mat-card>
} @empty {
  Empty list of users
}
</div>
