.contianer {
  background-color: rgba(240, 237, 237, 0.163);
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.qr {
  background-color: rgb(207, 23, 23);
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.66);
}
